@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto";
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 32px;
    padding: 64px 256px;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
    min-width: 0;
}

.hero-text > h1 {
    margin: 8px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtitle {
    margin: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 10px;
}

.info {
    padding-bottom: 128px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 48px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.media-object {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.illustration {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.description {
    width: 300px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quotes {
    background-color: #E5E7EB;
    padding: 128px 512px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-weight: 900;
    font-size: 18px;
}