@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 18px;
}

.header, .footer, .hero, .signup {
    padding-left: 15%;
    padding-right: 15%;
}

.info, .quote {
    padding-left: 25%;
    padding-right: 25%
}

.header, .footer, .hero {
    display: flex;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
}

.header, .footer {
    height: 64px;
}

.header {
    justify-content: space-between;
}

.header > .logo {
    font-size: 24px;
}

.header > .logo, .hero-text > h1, button, .signup-message {
    color: #F9FAF8;
}

.header > ul {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.header a {
    color: currentColor;
    text-decoration: none;
}

.footer > p {
    margin: auto;
}

.hero {
    justify-content: center;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.hero > .hero-text, img {
    flex: 1;
}

.hero > img {
    min-width: 0; /* Allows img to shrink below initial size */
}

.hero-text > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-text > .subtitle {
    font-size: 18px;
    margin-bottom: 16px;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
}

.info {
    padding-bottom: 128px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    padding: 48px;
}

.info h2, .info p, .quote p {
    color: #1F2937;
}

.info h2, .info p {
    text-align: center;
}

.media-object-wrapper {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.media-object {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.media-object > .img-wrapper {
    border: 2px solid #3882F6;
    border-radius: 10px;
    aspect-ratio: 1/1;
    width: 100%;
}


.quote {
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-bottom: 128px;
}

.quote > p {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: 900;
    font-size: 18px;
}

.signup {
    padding-top: 128px;
    padding-bottom: 128px;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 48px 112px;
    border-radius: 10px;
}

.signup-message > h2 {
    font-size: 18px;
    font-weight: 900;
}

.signup-box > button {
    border: 2px solid currentColor;
}
